body {
  color: #40514E;
  text-align: center;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  font-weight: bolder;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #99d8d0 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

/* Page1 */
/* Custom translucent site header */
.site-header {
  backdrop-filter: saturate(180%) blur(20px);
}



.dsymbol{
  color: grey;
  margin: 0;
}

.site-header a {
  color: grey;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #000;
  text-decoration: none;
}

.middle-container {
  margin-top: 56.25rem;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.topHeading {
  position: absolute;
  left: 28.75rem;
}

.heading1 {
  margin: 4.375rem auto 0;
}

.heading2 {
  margin: 0;
}

/* Page2 */
.digMar {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.webDev {
  width: 25%;
  margin-left: 30px;
  float: right;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px;
  text-align: left;
  line-height: 2;
}

/* Page3 */


.bottom-container {
  background-color: #66BFBF;
  margin-top: 70px;
  padding: 50px 0 20px;
}

.personal-msg {
  width: 50%;
  margin: 30px auto 60px;
}
.footer-link{
  padding: 20px;
}

.copy-right {
  color: #EAF6F6;
}
@media screen and (max-width: 1252px){


  .navbar{
    padding: 0;
    height: 50%;
  }
  .topHeading{
    position: absolute;
    padding: 20px;
    left: 5px;
    top: 110px;
  }
  .heading1{
    font-size: 70px;
  }
  .heading2{
    font-size: 30px;
  }
  .background-img{
    width: 100%;
  }
  }
  #page2{
    background-color: #EAF6F6;
  }
  .middle-container{
    margin-top: 500px;
    padding: 60px 0 20px;
  }
  .profile{
    font-size: 1rem;
  }
  .man{
    width: 15%;
  }
  .bottom-container {
    background-color: #EAF6F6;
    margin-top: 70px;
    padding: 70px 0 20px;
  }
  .copy-right {
    font-size: 12px;
    margin-top: 20px;
    color: #000;
  }


}
